body,html{
    margin: 0%;
    padding: 0%;
    box-sizing: content-box;

}
body{
    background-image:url("co\ \(2\).webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    font: bold;
    text-align: center;
    }